{% extends 'base.html' %}
{% block content %}


<div>

    <ul>
       
        {% for item in books %}

         
        <p><img src="{{item.book_cover}}" /></p>
        <p>Title: {{ item.title }}</p> 
        <p>Author: {{ item.author[2:-2] }}</p>
        <p>ISBN: {{ item.ISBN }}</p>



        <button type="button">Update</button>


        <form action="/delete" method="POST">
          <input type="hidden" name="book_id" value="{{ item.book_id }}"">

          <input type="submit" value=delete >
        </form>



        <br />
        <br />


        {% endfor %}


    </ul>




</div>





{% endblock %}