{% extends 'base.html' %}
{% block content %}


<h1>Welcome  {{ name }}</h1>

<p><a href="/add_book">Add a Book</a></p>


<p><a href="/book_list">My Book List</a></p>

<p><a href="/search">Search a book</a></p>

<p><a href="/logout">Sign out</a></p>




<div>

    <ul>
        {% for item in books %}
        
        <li>Book Title: {{ item.title }}</li>
        <li>Book Author: {{ item.author }}</li>
      
        <br/>
        <br/>

        {% endfor %}
    </ul>
        

</div>

{% endblock %}