{% extends 'base.html' %}
{% block content %}


<h1>Welcome  {{ name }}</h1>

<p><a href="/add_book">Add a Book</a></p>


<p><a href="/book_list">My Book List</a></p>

<p><a href="/search">Search a book</a></p>

<p><a href="/logout">Sign out</a></p>




<div>

    <ul>
        {% for item in books %}

        <p><img src="{{item.book_cover}}" /></p>
        
        <p>Title: {{ item.title }}</p>
        <p>Author: {{ item.author[2:-2] }}</p>
         <p>ISBN: {{ item.ISBN }}</p>
      
        <br/>
        <br/>

        {% endfor %}
    </ul>
        

</div>

{% endblock %}