{% extends 'base.html' %}
{% block content %}

<form action="/register", method="POST">
    <label>User Name:
    <input type="text" name="user_name">
    </label>
    <br/>
    <br/>

    <label>Email:</label>
    <input type="text" name="email">
    </label>
    <br/>
    <br/>


    <label>Password:
    <input type="text" name="password">
    </label>
    <br/>
    <br/>


    <label>Zipcode:
    <input type="number" name="zipcode">
    </label>
    <br/>
    <br/>

    <input type="submit" name="sign_up">


</form>


{% endblock %}