

{% extends 'base.html' %}
{% block content %}


<label>Search Book By:</label>
</br>
</br>

<form method="POST" action="/search">
<select name="choice">
  <option name="" value="{{choices[0]}}" selected>{{choices[0]}}</option>
  {% for choice in choices[1:] %}
    <option value="{{choice}}">{{choice}}</option>
  {% endfor %}
</select>
</br>
</br>
<input type="text" name="search">
</br>
</br>
<input type="submit" value="search">
</form>







<script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/mapstyles.js"></script>

<script src="/static/bears.js"></script>


{% endblock %}